@viewport {
    width: device-width;
}

@media screen and (min-width: 350px) {
    
    body {
        display: grid;
        
    }

    #football {
        width: 105%;
        padding: 1em;
        
    }

    section {
        width: fit-content;
    }

    img {
        width: fit-content;
    }

    #music {
        display: block;
        margin-right: 1em;
        margin-left: 0.5em;
    }

    #anime img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

}

@media screen and (min-width: 768px) {

    #football {
        width: 90%;
    }
    
    #anime img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #music {
        display: inline-block;
        margin-left: 2em;
        margin-right: 1em;
        width: 90%;
    }
    
    #music ol {
        float: left;
        width: 50%;
    }
    
    #music img {
        float: right;
        width: 50%;
    }
    
}

* {
    box-sizing: border-box;
    font-size: 24px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    color: #1A1110;
    text-shadow: 5px 7px 7px #c691d1;
    box-shadow: 0 0 30px black;
    margin: 2rem;
    border: 2px solid black;
    background-color: transparent;
    padding: 5rem;
    border-radius: 1rem;
    text-align: center;
    margin: 0
    
}

body {
    background-image: url(mywebsiteimages/Yandhi_Cover_Art.jpg);
}

section {
    font-size: 2rem;
    font-family: monospace;
    box-shadow: 0 0 30px black;
    background-color: #FEFEFE;
    padding: 2rem;
    margin: 2rem;
    border: 2px solid black;
    border-radius: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2rem;
    text-shadow: 3px 2px 5px #c691d1;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-shadow: 3px 2px 5px #c691d1;
    text-align: center;
}

h4 {
    font-size: 1rem;
    text-shadow: 1px 2px 3px lightslategray;
    text-align: left;
}

i {
    text-shadow: 3px 2px 5px #c691d1;
    font-style: normal;
}

a { 
    color: black; 
    text-shadow: 2px 1px 3px whitesmoke;
}

b {
    font-size: 1rem;
    text-shadow: 3px 2px 5px #c691d1;
    text-align: center;
}

small {
    font-size: 0.75rem;
}

small a {
    font-size: 0.75rem;
}

nav a { 
    color: black; 
    font-size: 1.5rem;
    text-shadow: 2px 1px 3px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav nav a {
    font-size: 1rem;
    /* color: black;
    text-shadow: 2px 1px 3px black; */
}

a:link {
    text-decoration: none; 
}

a:visited {
    text-decoration: none; 
}

a:hover {
    text-decoration: none; 
    color: white;
    text-shadow: 5px 5px 5px black;
}

a:active {
    text-decoration: none; 
}

.row img {
    float: left;
    width: 33%;
    padding: 1rem;
}

#football {
    width: 90%;
}

#anime img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#music {
    display: inline-block;
    margin-right: 2em;
    margin-left: 1em;
}

#music ol {
    float: left;
    width: 50%;
}

#music img {
    float: right;
    width: 50%;
}

#social {
    font-family: serif;
    font-size: 1rem;
    text-align: center;
    width: fit-content;
    border-radius: 0%;
}


figcaption {
    font-size: 0.75em;
}

nav li {
    display: block;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 0 30px black;
    border-width: 100%;
    padding: 2rem;
    margin: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

nav nav li {
    box-shadow: 0 0 0px black;
    border: transparent;
    padding: 0px;
    margin: none;
    width: 50%;
}

.football {
    border-collapse:collapse;
    border-spacing:0;
    margin-right: auto;
    margin-left: auto;
}

.football td {
    border-color: #c691d1;
    border-style: solid;
    border-width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.heading {
    font-weight: bold;
    font-family: Impact, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 2px 5px #c691d1;
}

footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

footer p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3rem;
    text-shadow: 5px 2px 4px crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}