<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Web Development 2</title>
    </head>
    <body>
        {% block main_content %}

        {% endblock %}

        {% if g.user %}
            <p>User id: {{ g.user }}</p>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <p><a href="{{ url_for('register') }}">Register</a></p>
            <p><a href="{{ url_for('login') }}">Login</a></p>
        {% endif %}
    </body>
</html>