{% extends "base.html" %}

{% block main_content %}

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.band.label }}
        {{ form.band() }}
        {% for error in form.band.errors %}
            {{ errors }}
        {% endfor %}
        <br>
        {{ form.gig_date.label }}
        {{ form.gig_date() }}
        {% for error in form.gig_date.errors %}
            {{ errors }}
        {% endfor %}
        <br>
        {{ form.submit() }}
    </form>

    <p>
        {{ message }}
    </p>

{% endblock %}