{% extends "base.html" %}

{% block main_content %}

    <form action="" method="POST">  
        {{ form.hidden_tag() }} 
        {{ form.country.label }}   
        {{ form.country() }}
        {% for error in form.country.errors %}
            {{ errors }}
        {% endfor %}
        <br>
        {{ form.submit() }}
        <br>
    </form>

    {{ error }}

    {% if winners %}
        <table>
            <caption>{{ caption }}</caption>
            {% for winner in winners %}
                <tr>
                    <td>{{ winner["year"] }}</td>
                    <td>{{ winner["country"] }}</td>
                    <td>{{ winner["song"] }}</td>
                    <td>{{ winner["performer"] }}</td>
                    <td>{{ winner["points"] }}</td>
                </tr>  
            {% endfor %} 
        </table>
    {% endif %}

{% endblock %}
