html{background-color:lightgreen;}
p{color:blue;}
.q{background-color:black;color:white;}
#d b{color:red;}
em{color:red;}
#b li{color:white;background-color:rebeccapurple;}
h1{color:blue;}
#r li{color:blue;background-color:white;}
#r li+li{color:red;}
i{color:black;}