{% extends "base.html" %}

{% block main_content %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    {{ form.weight.label }}
    {{ form.weight() }}
    {% for error in form.weight.errors %}
        {{ error }}
    {% endfor %}
    <br>
    {{ form.height.label }}
    {{ form.height() }}
    {% for error in form.height.errors %}
        {{ error }}
    {% endfor %}
    <br>
    {{ form.bmi.label }}
    {{ form.bmi(disabled=True) }}
    <br>
    {{ form.submit() }}
    
</form>

{% endblock %}