{% extends "base.html" %}

{% block main_content %}

<form action="" method="POST">

    <label for="weight">Weight in kg:</label>
    <input type="text" size="50" name="weight" id="weight" value="{{ weight }}"/>
    <br>
    <label for="height">Height in m:</label>
    <input type="text" size="50" name="height" id="height" value="{{ height }}"/>
    <br>
    <label for="bmi">BMI:</label>
    <input type="text" size="50" name="bmi" id="bmi" value="{{ bmi }}" disabled/>
    <br>
    <input type="submit">
    
</form>

{% endblock %}